<?xml version="1.0" encoding="utf-8"?>
<Content Key="e10ae972-b8d1-4150-bbca-762a3557b346" Alias="Events Page 1" Level="4">
  <Info>
    <Parent Key="faeecde4-58b1-4996-8521-3b44c4e895dd">Events List</Parent>
    <Path>/SiteSettings/Home/EventsList/EventsPage1</Path>
    <Trashed>false</Trashed>
    <ContentType>eventPage</ContentType>
    <CreateDate>2025-11-23T10:58:02</CreateDate>
    <NodeName Default="Events Page 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="27392426-51ee-44d0-9fc8-81dcec558cf6">EventPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Event page description]]></Value>
    </description>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <pageGrid>
      <Value><![CDATA[]]></Value>
    </pageGrid>
    <pageHero>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7dda3eaf542243ada22b7363b8f1e17d"
      }
    ]
  },
  "contentData": [
    {
      "backgroundImage": [
        {
          "key": "dbb296e3-5e31-4432-839e-5c5ab84056a1",
          "mediaKey": "62b41f96-f3a5-4aa0-ab34-b53501c04634"
        }
      ],
      "contentTypeKey": "140d6f64-ae80-470f-9beb-22ba29342c59",
      "cta": "",
      "description": "",
      "isDark": "0",
      "title": "Events Page Title",
      "udi": "umb://element/7dda3eaf542243ada22b7363b8f1e17d"
    }
  ],
  "settingsData": []
}]]></Value>
    </pageHero>
    <searchImage>
      <Value><![CDATA[[
  {
    "key": "5ae2eb4d-8e69-4f68-93de-230e7bf642a5",
    "mediaKey": "4ada6bbb-57ce-4e6a-b17b-b68ac94434a3"
  }
]]]></Value>
    </searchImage>
    <searchLinkText>
      <Value><![CDATA[View Event]]></Value>
    </searchLinkText>
    <searchSummary>
      <Value><![CDATA[Event 1 Card Summary]]></Value>
    </searchSummary>
    <searchTitle>
      <Value><![CDATA[Event 1 Card Title]]></Value>
    </searchTitle>
    <title>
      <Value><![CDATA[Events Page]]></Value>
    </title>
  </Properties>
</Content>