<?xml version="1.0" encoding="utf-8"?>
<Content Key="faeecde4-58b1-4996-8521-3b44c4e895dd" Alias="Events List" Level="3">
  <Info>
    <Parent Key="4496db53-47ff-4835-ad01-a9390d850227">Home Page</Parent>
    <Path>/SiteSettings/HomePage/EventsList</Path>
    <Trashed>false</Trashed>
    <ContentType>eventsListPage</ContentType>
    <CreateDate>2025-11-23T10:55:18</CreateDate>
    <NodeName Default="Events List" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bf4cb39c-dd63-4a5c-b9f6-e45c54a29bf9">EventsListPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Events List Page Description]]></Value>
    </description>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <pageGrid>
      <Value><![CDATA[]]></Value>
    </pageGrid>
    <pageHero>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d106395a2c8244f09c6397579468e1a5"
      }
    ]
  },
  "contentData": [
    {
      "backgroundImage": [
        {
          "key": "368a10e2-a626-4acd-9aa8-18675b7bf359",
          "mediaKey": "62b41f96-f3a5-4aa0-ab34-b53501c04634"
        }
      ],
      "contentTypeKey": "140d6f64-ae80-470f-9beb-22ba29342c59",
      "cta": "",
      "description": "",
      "isDark": "0",
      "title": "Events List Page",
      "udi": "umb://element/d106395a2c8244f09c6397579468e1a5"
    }
  ],
  "settingsData": []
}]]></Value>
    </pageHero>
    <title>
      <Value><![CDATA[Events]]></Value>
    </title>
  </Properties>
</Content>