<?xml version="1.0" encoding="utf-8"?>
<Content Key="cbbdea49-34a3-485e-95ba-c8b6201c7a20" Alias="Event Page 2" Level="4">
  <Info>
    <Parent Key="faeecde4-58b1-4996-8521-3b44c4e895dd">Events List</Parent>
    <Path>/SiteSettings/HomePage/EventsList/EventPage2</Path>
    <Trashed>false</Trashed>
    <ContentType>eventPage</ContentType>
    <CreateDate>2025-11-24T10:16:48</CreateDate>
    <NodeName Default="Event Page 2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="27392426-51ee-44d0-9fc8-81dcec558cf6">EventPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Event Page 2 description]]></Value>
    </description>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <isSearchHidden>
      <Value><![CDATA[0]]></Value>
    </isSearchHidden>
    <pageGrid>
      <Value><![CDATA[]]></Value>
    </pageGrid>
    <pageHero>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/efb213cf173342338cda4b0f857d6886"
      }
    ]
  },
  "contentData": [
    {
      "backgroundImage": [
        {
          "key": "e99a3a07-f8a8-4936-a0f9-333134d38452",
          "mediaKey": "4ada6bbb-57ce-4e6a-b17b-b68ac94434a3"
        }
      ],
      "contentTypeKey": "140d6f64-ae80-470f-9beb-22ba29342c59",
      "cta": "",
      "description": "",
      "isDark": "0",
      "title": "Event Page Title",
      "udi": "umb://element/efb213cf173342338cda4b0f857d6886"
    }
  ],
  "settingsData": []
}]]></Value>
    </pageHero>
    <searchImage>
      <Value><![CDATA[[]]]></Value>
    </searchImage>
    <searchSummary>
      <Value><![CDATA[Event 2 Card Summary]]></Value>
    </searchSummary>
    <searchTitle>
      <Value><![CDATA[Event 2 Card Title]]></Value>
    </searchTitle>
    <title>
      <Value><![CDATA[Event Page 2 Title]]></Value>
    </title>
  </Properties>
</Content>