<?xml version="1.0" encoding="utf-8"?>
<Content Key="4496db53-47ff-4835-ad01-a9390d850227" Alias="Home Page" Level="2">
  <Info>
    <Parent Key="dd897667-b9dd-4c6a-ac94-b5e7679a8362">Site Settings</Parent>
    <Path>/SiteSettings/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-11-21T12:34:22</CreateDate>
    <NodeName Default="Home Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fa9e6b92-040d-4bdd-8207-997f53c82016">HomePage</Template>
  </Info>
  <Properties />
</Content>