<?xml version="1.0" encoding="utf-8"?>
<Content Key="c6966a6c-b990-41a4-a10e-2e6d4917fea2" Alias="News Page 2" Level="4">
  <Info>
    <Parent Key="385bc481-4b7e-4f10-95ac-2986ccf738c5">News List</Parent>
    <Path>/SiteSettings/Home/NewsList/NewsPage2</Path>
    <Trashed>false</Trashed>
    <ContentType>newsPage</ContentType>
    <CreateDate>2025-11-23T18:11:45</CreateDate>
    <NodeName Default="News Page 2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="701088bb-f62e-4bfb-baa2-11701178f646">NewsPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[News Page 2 Description]]></Value>
    </description>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <pageGrid>
      <Value><![CDATA[]]></Value>
    </pageGrid>
    <pageHero>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/625b29b80b1f4c60b763d3e55c251b9c"
      }
    ]
  },
  "contentData": [
    {
      "backgroundImage": [
        {
          "key": "4e6b7a6b-7423-4950-9fa5-a44982c5c548",
          "mediaKey": "4ada6bbb-57ce-4e6a-b17b-b68ac94434a3"
        }
      ],
      "contentTypeKey": "140d6f64-ae80-470f-9beb-22ba29342c59",
      "cta": "",
      "description": "",
      "isDark": "0",
      "title": "News Page 2",
      "udi": "umb://element/625b29b80b1f4c60b763d3e55c251b9c"
    }
  ],
  "settingsData": []
}]]></Value>
    </pageHero>
    <searchImage>
      <Value><![CDATA[]]></Value>
    </searchImage>
    <searchLinkText>
      <Value><![CDATA[]]></Value>
    </searchLinkText>
    <searchSummary>
      <Value><![CDATA[]]></Value>
    </searchSummary>
    <searchTitle>
      <Value><![CDATA[]]></Value>
    </searchTitle>
    <title>
      <Value><![CDATA[News Page 2]]></Value>
    </title>
  </Properties>
</Content>