<?xml version="1.0" encoding="utf-8"?>
<Content Key="385bc481-4b7e-4f10-95ac-2986ccf738c5" Alias="News List" Level="3">
  <Info>
    <Parent Key="4496db53-47ff-4835-ad01-a9390d850227">Home</Parent>
    <Path>/SiteSettings/Home/NewsList</Path>
    <Trashed>false</Trashed>
    <ContentType>newsListPage</ContentType>
    <CreateDate>2025-11-23T10:54:50</CreateDate>
    <NodeName Default="News List" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="91fb1b3e-1d47-4811-a2c1-4e74ab0742b7">NewsListPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[News list page description]]></Value>
    </description>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <pageGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/7df33df7b25041238d03ba5cd8247c23",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "25ed3b59-5666-4388-95ad-02bfc94d3c64",
      "contentTypes": [
        "News"
      ],
      "description": "",
      "maxSize": "",
      "noResultsText": "No news",
      "orderBy": [
        "Date"
      ],
      "pageSize": "9",
      "title": "Latest News",
      "udi": "umb://element/7df33df7b25041238d03ba5cd8247c23"
    }
  ],
  "settingsData": []
}]]></Value>
    </pageGrid>
    <pageHero>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b5a0d31d579842a1803dbadd8dccb7f0"
      }
    ]
  },
  "contentData": [
    {
      "backgroundImage": [
        {
          "key": "2d7c23a6-aa19-4c4b-89d9-29d0ba4a2d0b",
          "mediaKey": "4ada6bbb-57ce-4e6a-b17b-b68ac94434a3"
        }
      ],
      "contentTypeKey": "140d6f64-ae80-470f-9beb-22ba29342c59",
      "cta": [
        {
          "name": "See more",
          "url": "#"
        }
      ],
      "description": "",
      "isDark": "0",
      "title": "News List Page Title",
      "udi": "umb://element/b5a0d31d579842a1803dbadd8dccb7f0"
    }
  ],
  "settingsData": []
}]]></Value>
    </pageHero>
    <searchImage>
      <Value><![CDATA[[]]]></Value>
    </searchImage>
    <searchLinkText>
      <Value><![CDATA[See al]]></Value>
    </searchLinkText>
    <searchSummary>
      <Value><![CDATA[View all our recent News]]></Value>
    </searchSummary>
    <searchTitle>
      <Value><![CDATA[News Listing Page Card Title]]></Value>
    </searchTitle>
    <title>
      <Value><![CDATA[News]]></Value>
    </title>
  </Properties>
</Content>