<?xml version="1.0" encoding="utf-8"?>
<Content Key="b3331404-5384-4a39-8fd7-95b452719e41" Alias="News Page 1" Level="4">
  <Info>
    <Parent Key="385bc481-4b7e-4f10-95ac-2986ccf738c5">News List</Parent>
    <Path>/SiteSettings/HomePage/NewsList/NewsPage1</Path>
    <Trashed>false</Trashed>
    <ContentType>newsPage</ContentType>
    <CreateDate>2025-11-23T10:57:35</CreateDate>
    <NodeName Default="News Page 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="701088bb-f62e-4bfb-baa2-11701178f646">NewsPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[News page description]]></Value>
    </description>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <pageGrid>
      <Value><![CDATA[]]></Value>
    </pageGrid>
    <pageHero>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1d5491c03f804a02af22e962129f1748"
      }
    ]
  },
  "contentData": [
    {
      "backgroundImage": [
        {
          "key": "c845e8bf-48f5-4db0-a87b-47e4c525e175",
          "mediaKey": "62b41f96-f3a5-4aa0-ab34-b53501c04634"
        }
      ],
      "contentTypeKey": "140d6f64-ae80-470f-9beb-22ba29342c59",
      "cta": "",
      "description": "",
      "isDark": "0",
      "title": "News Page Title",
      "udi": "umb://element/1d5491c03f804a02af22e962129f1748"
    }
  ],
  "settingsData": []
}]]></Value>
    </pageHero>
    <title>
      <Value><![CDATA[News Page]]></Value>
    </title>
  </Properties>
</Content>