<?xml version="1.0" encoding="utf-8"?>
<Content Key="ee95f75d-9556-408a-aded-da15f13e4caa" Alias="News Page 3" Level="4">
  <Info>
    <Parent Key="385bc481-4b7e-4f10-95ac-2986ccf738c5">News List</Parent>
    <Path>/SiteSettings/Home/NewsList/NewsPage3</Path>
    <Trashed>false</Trashed>
    <ContentType>newsPage</ContentType>
    <CreateDate>2025-11-25T11:09:01</CreateDate>
    <NodeName Default="News Page 3" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="701088bb-f62e-4bfb-baa2-11701178f646">NewsPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[News Page 3 description]]></Value>
    </description>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <pageGrid>
      <Value><![CDATA[]]></Value>
    </pageGrid>
    <pageHero>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/910c2f10d2f842e2b7a3a95aa2cf39f4"
      }
    ]
  },
  "contentData": [
    {
      "backgroundImage": [
        {
          "key": "187cf881-9fc0-4a8e-940a-a464e1d15860",
          "mediaKey": "4ada6bbb-57ce-4e6a-b17b-b68ac94434a3"
        }
      ],
      "contentTypeKey": "140d6f64-ae80-470f-9beb-22ba29342c59",
      "cta": "",
      "description": "News Page 3 description",
      "isDark": "0",
      "title": "News Page 3 Title",
      "udi": "umb://element/910c2f10d2f842e2b7a3a95aa2cf39f4"
    }
  ],
  "settingsData": []
}]]></Value>
    </pageHero>
    <searchImage>
      <Value><![CDATA[[]]]></Value>
    </searchImage>
    <searchLinkText>
      <Value><![CDATA[View news]]></Value>
    </searchLinkText>
    <searchSummary>
      <Value><![CDATA[News Card Summary 3]]></Value>
    </searchSummary>
    <searchTitle>
      <Value><![CDATA[News Card Title3]]></Value>
    </searchTitle>
    <title>
      <Value><![CDATA[News Page 3 Title]]></Value>
    </title>
  </Properties>
</Content>