<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd897667-b9dd-4c6a-ac94-b5e7679a8362" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-11-21T12:34:12</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainNavigationItems>
      <Value><![CDATA[[
  {
    "udi": "umb://document/4496db5347ff4835ad01a9390d850227"
  }
]]]></Value>
    </mainNavigationItems>
  </Properties>
</Content>