<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd897667-b9dd-4c6a-ac94-b5e7679a8362" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-11-21T12:34:12</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <loginText>
      <Value><![CDATA[Sign in]]></Value>
    </loginText>
    <logoutText>
      <Value><![CDATA[Sign out]]></Value>
    </logoutText>
    <mainNavigationItems>
      <Value><![CDATA[[
  {
    "name": "News",
    "udi": "umb://document/385bc4814b7e4f1095ac2986ccf738c5"
  },
  {
    "name": "Events",
    "udi": "umb://document/faeecde458b1499685213b44c4e895dd"
  }
]]]></Value>
    </mainNavigationItems>
    <searchDefaultLinkText>
      <Value><![CDATA[Read more]]></Value>
    </searchDefaultLinkText>
    <siteDescription>
      <Value><![CDATA[Description for the supporter portal]]></Value>
    </siteDescription>
    <siteImage>
      <Value><![CDATA[[
  {
    "key": "c2bed8d6-2d9c-4769-b162-380143510580",
    "mediaKey": "62b41f96-f3a5-4aa0-ab34-b53501c04634"
  }
]]]></Value>
    </siteImage>
    <siteNewsletterForm>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ee6bcff367154d3c800c51096aeacef4"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "4e8d5998-06db-49d3-acc2-44c2eb98cda0",
      "description": "Subscribe to our news letter to receive the latest updates",
      "emailLabelText": "Your email",
      "emailPlaceholder": "Enter your email...",
      "errorText": "There has been an error",
      "nameLabelText": "Your name",
      "namePlaceholder": "Enter your name...",
      "submitText": "Join the portal!",
      "title": "Sign up to our newsletter",
      "udi": "umb://element/ee6bcff367154d3c800c51096aeacef4"
    }
  ],
  "settingsData": []
}]]></Value>
    </siteNewsletterForm>
    <siteTitle>
      <Value><![CDATA[Supporter Portal]]></Value>
    </siteTitle>
  </Properties>
</Content>