<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d4a81774-2625-4e0b-8f0f-a46cc23be780" Alias="Newsletter.FieldMaxLength" Level="1">
  <Info>
    <Parent>Newsletter</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Too many characters</Translation>
  </Translations>
</Dictionary>