<?xml version="1.0" encoding="utf-8"?>
<Domain Key="cdcab783-0000-0000-0000-000000000000" Alias="/">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="4496db53-47ff-4835-ad01-a9390d850227">/Site Settings/Home Page</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>