<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ef5f059b-c68c-461e-bc0d-487eeb9ba568" Alias="Hero Slides" Level="3">
  <Info>
    <Name>Hero Slides</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Components/Hero</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "140d6f64-ae80-470f-9beb-22ba29342c59",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title ? title : \"Hero Image Slide\" }}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 5,
    "min": 1
  }
}]]></Config>
</DataType>