<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c7053352-816f-472d-83a2-0825bebc1702" Alias="Navigation picker" Level="2">
  <Info>
    <Name>Navigation picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Settings</Folder>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>