<?xml version="1.0" encoding="utf-8"?>
<DataType Key="71b24184-f183-40f0-80b9-13a3f35cc870" Alias="Search Listing Order By Dropdown" Level="3">
  <Info>
    <Name>Search Listing Order By Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Components/Search</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Score"
    },
    {
      "id": 2,
      "value": "Alphabetical"
    },
    {
      "id": 3,
      "value": "Date"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>