<?xml version="1.0" encoding="utf-8"?>
<DataType Key="923af3fa-1647-43be-8ba5-24445e5abfc0" Alias="Search Listing Content Type List" Level="3">
  <Info>
    <Name>Search Listing Content Type List</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Components/Search</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "News"
    },
    {
      "id": 2,
      "value": "Events"
    },
    {
      "id": 3,
      "value": "All"
    }
  ],
  "Multiple": true
}]]></Config>
</DataType>