.umb-block-grid {
  display: flex;
  flex-wrap: wrap;

  &__layout-container {
    display: contents;
  }

  &__layout-item {
    flex: 0 0 auto;
    width: calc(
      var(--umb-block-grid--item-column-span, 12) /
        var(--umb-block-grid--grid-columns, 12) * 100%
    );

    min-height: calc(var(--umb-block-grid--item-row-span, 1) * 1rem);
  }

  &__area-container {
    display: flex;
    flex-wrap: wrap;
  }

  &__area {
    flex: 0 0 auto;
    width: calc(
      var(--umb-block-grid--area-column-span, 12) /
        var(--umb-block-grid--area-grid-columns, 12) * 100%
    );
  }
}

.umb-block-grid img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

@media (max-width: 768px) {
  .umb-block-grid__layout-item,
  .umb-block-grid__area {
    width: 100% !important;
  }
}
