<?xml version="1.0" encoding="utf-8"?>
<Media Key="62b41f96-f3a5-4aa0-ab34-b53501c04634" Alias="Test Image 1" Level="2">
  <Info>
    <Parent Key="9b32a1da-a368-490c-a0e6-5603cdeab767">Test Images</Parent>
    <Path>/TestImages/TestImage1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-23T10:53:43</CreateDate>
    <NodeName Default="Test Image 1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sapliyvf/test-image-1.jpg",
  "focalPoint": {
    "left": 0.48371723395931143,
    "top": 0.49812208856398266
  }
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>