<?xml version="1.0" encoding="utf-8"?>
<Media Key="9b32a1da-a368-490c-a0e6-5603cdeab767" Alias="Test Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TestImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-23T10:53:30</CreateDate>
    <NodeName Default="Test Images" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>