<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ada6bbb-57ce-4e6a-b17b-b68ac94434a3" Alias="Test Image 2" Level="2">
  <Info>
    <Parent Key="9b32a1da-a368-490c-a0e6-5603cdeab767">Test Images</Parent>
    <Path>/TestImages/TestImage2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-23T10:53:43</CreateDate>
    <NodeName Default="Test Image 2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xvvnuswo/test-image-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>