<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="049be693-11aa-40ea-ac3a-8389fde93cbb" Alias="eventPage" Level="2">
  <Info>
    <Name>Event Page</Name>
    <Icon>icon-calendar color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="f844bba2-98d4-4d58-a897-539ba3ee0efc">basePage</Composition>
      <Composition Key="4ea1e788-af3f-4f7e-92eb-c5a109be89b2">pageContent</Composition>
    </Compositions>
    <DefaultTemplate>EventPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="27392426-51ee-44d0-9fc8-81dcec558cf6">EventPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>