<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a9578aa3-5797-478e-9a18-5f9d80166ceb" Alias="eventsListPage" Level="2">
  <Info>
    <Name>Events List Page</Name>
    <Icon>icon-calendar-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="f844bba2-98d4-4d58-a897-539ba3ee0efc">basePage</Composition>
      <Composition Key="4ea1e788-af3f-4f7e-92eb-c5a109be89b2">pageContent</Composition>
    </Compositions>
    <DefaultTemplate>EventsListPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bf4cb39c-dd63-4a5c-b9f6-e45c54a29bf9">EventsListPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="049be693-11aa-40ea-ac3a-8389fde93cbb" SortOrder="0">eventPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>