<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="18f0909d-5a14-4d89-bad1-ff0d5ee774a6" Alias="newsPage" Level="2">
  <Info>
    <Name>News Page</Name>
    <Icon>icon-newspaper-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="f844bba2-98d4-4d58-a897-539ba3ee0efc">basePage</Composition>
      <Composition Key="4ea1e788-af3f-4f7e-92eb-c5a109be89b2">pageContent</Composition>
    </Compositions>
    <DefaultTemplate>NewsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="701088bb-f62e-4bfb-baa2-11701178f646">NewsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="18f0909d-5a14-4d89-bad1-ff0d5ee774a6" SortOrder="0">newsPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>