<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4e8d5998-06db-49d3-acc2-44c2eb98cda0" Alias="newsLetterForm" Level="3">
  <Info>
    <Name>News Letter Form</Name>
    <Icon>icon-radio color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Forms</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1d266d99-cd88-4183-a2fa-01ac54a29ba1</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Description for this form]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="newsLetterForm/newsLetterFormProperties">News Letter Form Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>37ab2366-e046-4287-bd34-ed9b04e450c9</Key>
      <Name>Email Label Text</Name>
      <Alias>emailLabelText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text to display for the email field]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="newsLetterForm/newsLetterFormProperties">News Letter Form Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a0a790c0-df37-4bf3-bccd-05e1fcac570f</Key>
      <Name>Email placeholder</Name>
      <Alias>emailPlaceholder</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Placeholder text to display in the email field]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="newsLetterForm/newsLetterFormProperties">News Letter Form Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>448c090b-a4b5-44db-9017-4534f2067c80</Key>
      <Name>Error Text</Name>
      <Alias>errorText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text to display when there is an error]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="newsLetterForm/newsLetterFormProperties">News Letter Form Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4522c211-0b2e-404b-b52f-ab8c82eb8bc8</Key>
      <Name>Name Label text</Name>
      <Alias>nameLabelText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Label to display for the name field]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="newsLetterForm/newsLetterFormProperties">News Letter Form Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>975252fb-396a-46ac-93f3-b7e7ae8f7dc1</Key>
      <Name>Name Placeholder</Name>
      <Alias>namePlaceholder</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Placeholder text to appear in the name field]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="newsLetterForm/newsLetterFormProperties">News Letter Form Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bb7910ce-d792-476a-9451-2164b9fb0331</Key>
      <Name>Submit Text</Name>
      <Alias>submitText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text for the submit button]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="newsLetterForm/newsLetterFormProperties">News Letter Form Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b0c5b032-be2d-4444-9c50-71ac2b864653</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Title to display above the form]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="newsLetterForm/newsLetterFormProperties">News Letter Form Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2f80ad75-3bf5-41ac-afc6-9e4616ac7dec</Key>
      <Caption>News Letter Form</Caption>
      <Alias>newsLetterForm</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>d6a2a443-0723-4e50-a2a7-20cf8cb0b546</Key>
      <Caption>News Letter Form Properties</Caption>
      <Alias>newsLetterForm/newsLetterFormProperties</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>