<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1a6e19f0-a82d-459b-a785-9cf269fb994b" Alias="siteSettings" Level="2">
  <Info>
    <Name>Site Settings</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="a67d8475-ea06-460a-bfb5-c8210ed62f2e" SortOrder="0">homePage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>750fc21b-835e-421c-8eda-f93f312a7605</Key>
      <Name>Main navigation Items</Name>
      <Alias>mainNavigationItems</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select existing, or add external links to appear in themain navigation]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="mainNavigation">Main Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f20a8160-86b6-45e0-9f98-74e95fbb02de</Key>
      <Caption>Main Navigation</Caption>
      <Alias>mainNavigation</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>